In [1]:
import pandas as pd
from scipy import stats

In [42]:
df = pd.read_csv("clients_book2.csv")

In [48]:
for column in df.columns:
    if df[column].dtype != 'object': 
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        df = df[~((df[column] < lower_bound) | (df[column] > upper_bound))]
        
df.to_csv("clients_book2_without_outliers.csv", index=False)
df.head()

,Client ID,Gender,Age,Job Title,City,Positive Reviews,Negative Reviews,Days Since Last Visit,Online Purchases,Offline Purchases,Items in Cart,Tags,Avg Purchases per Month,Total Spent,Stores
0,314c4303-8939-454c-964d-9a8f9ba6889b,Female,30,"['Инженер', 'Разработчик', 'Менеджер', 'Проект...",Villarrealport,54,86,249,21,40,3,"Детектив, Историческая литература, Фантастика,...",9.100941,7396.43,"Магазин 1, Магазин 2, Магазин 3, Магазин 4, Ма..."
1,d1156b70-3c80-4471-a695-364dd71338f4,Female,30,"['Инженер', 'Разработчик', 'Менеджер', 'Проект...",East Tiffany,6,84,109,47,42,8,"Поэзия, Ужасы, Научная литература, Детектив, И...",6.447151,6197.75,"Магазин 1, Магазин 2, Магазин 3, Магазин 4, Ма..."
2,eb143dba-45e4-4705-8001-dc58cb45aee1,Female,34,"['Инженер', 'Разработчик', 'Менеджер', 'Проект...",West Cynthia,14,55,248,19,24,4,"Ужасы, Поэзия, Научная литература, Детская лит...",8.285028,7834.00,"Магазин 1, Магазин 2, Магазин 3, Магазин 4, Ма..."
3,054f23c5-2b35-4132-b41f-a6a878d829ac,Female,35,"['Инженер', 'Разработчик', 'Менеджер', 'Проект...",Deanbury,32,5,289,28,12,5,"Научная литература, Приключения, Фантастика, Р...",7.918668,7615.34,"Магазин 1, Магазин 2, Магазин 3, Магазин 4, Ма..."
4,d524535e-df6d-4fdc-8fdd-19e68cb47996,Female,35,"['Инженер', 'Разработчик', 'Менеджер', 'Проект...",South Charles,13,0,316,27,21,5,"Историческая литература, Детектив, Приключения...",7.033729,6213.48,"Магазин 1, Магазин 2, Магазин 3, Магазин 4, Ма..."